<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uta.com.studentcenter" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".login"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="uta.com.studentcenter.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uta.com.academics.AcademicsHome"/>
        <activity android:name="uta.com.studentcenter.CurrentStudentHome"/>
        <activity android:name="uta.com.search.SearchInput"/>
        <activity android:name="uta.com.search.SearchResult"/>
        <activity android:name="uta.com.search.SearchSubjectDetails"/>
        <activity android:name="uta.com.studentcenter.ProspectiveHome"/>
        <activity android:name="uta.com.Application.ApplicationResult"/>
        <activity android:name="uta.com.Application.ApplicationDetail"/>
        <activity android:name="uta.com.ToDoList.ToDoListResult"/>
        <activity android:name="uta.com.ToDoList.ToDoListDetail"/>
        <activity android:name="uta.com.Cart.CartHome"/>
        <activity android:name="uta.com.Cart.ViewCart"/>
        <activity android:name="uta.com.Enroll.EnrollHome"/>

    </application>

</manifest>
